# Licensed under the Apache License, Version 2.0 <LICENSE-APACHE or
# http://www.apache.org/licenses/LICENSE-2.0>.
# This file may not be copied, modified, or distributed
# except according to those terms.
#
# Environment configuration file for the Data and Vis SDK on Frontier
#   maintainer: Ryan Krattiger @kwryankrattiger (ryan.krattiger@kitware.com)
spack:
  config:
    install_tree:
      root: /sw/frontier/ums/ums032/spack/
      padding: 128

  include:
  - $SPACK_CONFIG_FACILITY_DIR/frontier/rocm-6.0.0/packages.yaml
  - $SPACK_CONFIG_FACILITY_DIR/frontier/rocm-6.0.0/compilers.yaml
  - $SPACK_CONFIG_FACILITY_DIR/frontier/compilers.yaml
  - $SPACK_CONFIG_FACILITY_DIR/frontier/packages.yaml
  - $SPACK_CONFIG_DAV_SDK_DIR/packages.yaml

  definitions:
  - paraview_specs:
    - matrix:
      - - paraview
      - - "@5.11"
        - "@5.12"
        # - "@5.13"

  - rocm_package:
    - +rocm amdgpu_arch=gfx90a
    - ~rocm

  specs:
  # I/O
  - matrix:
    - - adios2
    - - $rocm_package

  - parallel-netcdf
  - hdf5
  - hdf5-vol-async
  - hdf5-vol-cache
  - hdf5-vol-log

  # Compression
  - zfp

  # Visualization
  - matrix:
    - - ascent
    - - ^vtk-m +rocm
      - ^vtk-m ~rocm

  - matrix:
    - - $paraview_specs
    - - $rocm_package

  - matrix:
    - - vtk-m
    - - $rocm_package

  concretizer:
    unify: when_possible
